@import url('https://animate.style/');
.animatenama {
  animation: backInDown;
  animation-duration: 2s;
}
@import url('https://animate.style/');
.animatebio1 {
  animation: backInLeft;
  animation-duration: 2s;
}
@import url('https://animate.style/');
.animatebio2 {
  animation: backInRight;
  animation-duration: 2s;
}
@import url('https://animate.style/');
.animateproject {
  animation: backInUp;
  animation-duration: 2s;
}
@import url('https://animate.style/');
.animatedeskripsi {
  animation: fadeIn;
  animation-delay: 1s;
  animation-duration: 5s;
}
@import url('https://animate.style/');
.animatecard {
  animation: fadeInTopLeft;
  animation-duration: 2s;
}
@import url('https://animate.style/');
.animateTopup {
  animation: fadeInTopRight;
  animation-duration: 2s;
}
@import url('https://animate.style/');
.animatearsana {
  animation: zoomInDown;
  animation-duration: 2s;
}
