@import url('https://animate.style/');
.animatenama {
  animation: bounce;
  animation-duration: 2s;
}
@import url('https://animate.style/');
.animatebio1 {
  animation: backInLeft;
  animation-duration: 2s;
}
@import url('https://animate.style/');
.animatebio2 {
  animation: backInRight;
  animation-duration: 2s;
}
